<div style="visibility: hidden">
    <div class="md-dialog-container" id="waitDialog">
        <md-dialog class="bv-dialog-wait">
            <h3 class="bv-dialog-wait-title">{{'common.wait.title' | translate}}</h3>
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-diameter="30" md-mode="indeterminate" ng-if="bvType==='circular'"></md-progress-circular>
                <md-progress-linear md-diameter="30" md-mode="indeterminate" ng-if="bvType==='linear'"></md-progress-linear>
            </div>
        </md-dialog>
    </div>
</div>