// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/// Regular font family
$color-background: #fefefe !default;
$color-text: #333 !default;
$color-text-button: #333 !default;
$color-mark: #f3f315 !default;
$color-border: #aaa !default;
$color-table-row: lighten($color-text, 75%) !default;
$color-primary: #7fd4ff !default;
$color-secondary: #86deb7 !default;
$color-toggle-on: #86deb7 !default;
$color-toggle-off: #da6869 !default;
$color-disabled: #aaa !default;
// FONTS
$font-name: 'OpenSans' !default;
$font-name-mono: 'OpenSans' !default; //'Droid Sans Mono' !default;
$font-size: 1rem !default;
$font-weight: 400;
$line-height: 1.5rem !default;
// ALTRI COLORI
$white: #fff;
//Zindex
$zindex-navbar: 1000 !default;
$zindex-dropdown: 1000 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
$zindex-navbar-fixed: 1030 !default;
$zindex-navbar-sticky: 1030 !default;
$zindex-modal-bg: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-sidebar-bg: 1060 !default;
$zindex-sidebar: 1070 !default;
//Breakpoints
$xs-min-width: rem(0);
$sm-min-width: rem(600);
$md-min-width: rem(960);
$lg-min-width: rem(1280);
$xl-min-width: rem(1920);