<div class="bv-loginLanguage">
  <md-select flex="10" ng-if="ctrl.visible" ng-model="ctrl.currentLocaleDisplayName"
    placeholder='{{ "directives.language-select.Language" | translate}}' class="md-no-underline bv-md-select"
    required="" md-no-asterisk="false" ng-change="ctrl.changeLanguage(ctrl.currentLocaleDisplayName)">
    <md-option ng-value="localesDisplayName" ng-repeat="localesDisplayName in ctrl.localesDisplayNames">{{ localesDisplayName }}</md-option>
    <!--
    <md-option value="ita">{{'Italiano'|translate}}</md-option>
    <md-option value="eng">{{'English'|translate}}</md-option>
    <md-option value="esp">{{'Espaniol'|translate}}</md-option>
    <md-option value="fra">{{'Français'|translate}}</md-option>
    <md-option value="deu">{{'Deutsch'|translate}}</md-option>
 ---->
  </md-select>
</div>
<!--
  <div class="language-select" ng-if="ctrl.visible">
    <label>{{"directives.language-select.Language" | translate}}:
      <select ng-model="ctrl.currentLocaleDisplayName" ng-options="localesDisplayName for localesDisplayName in ctrl.localesDisplayNames"
        ng-change="ctrl.changeLanguage(ctrl.currentLocaleDisplayName)">
      </select>
    </label>
  </div>
 -->
