.bv-dialog-wait {
    height: 5.7142857143rem;
    overflow: hidden;
    padding: 0.3571428571rem;
}

.bv-dialog-wait-title {
    text-align: center;
    margin-top: 0.3571428571rem;
    margin-bottom: 0.3571428571rem;
}
